.item{
  border: 1px solid #ff0000;
}

.addbtn {
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1.5em;
  font-weight: 300;
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 11;
  color: #1973d3;
}

.addbtn:hover {
  opacity: 1;
  color: #007bff;
}

.logo2{
  width: 45px;
}

.wake {
  width: 91.5vw;
}

.backdrop {
  background-color: #000000bf;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all ease-in-out 60s;
  transition: all ease-in-out 60s;
  z-index: 11;
}

.inner {
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #343a40;
  position: fixed;
  top: 35%;
  left: 8%;
  right: 8%;
  height: auto;
  padding: 27px;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.main {
  word-wrap: break-word;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.dark {
  background-color: #343a40;
  color: #c0bebe;
  font-weight: 350;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.sticky {
  background-color: #343a40;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  padding: 15px 0px 0px 0px;
  
}

.head {
  font-size: 25px;
  padding: 0 0px 15px 0px ;
  max-width: 9em;
}

.detail {


}

.close{
  padding: 1.5px  9px  4.5px 9px;
  outline: 0;
  border: 0;
  border-radius: 50%;
  color: #fff;
  background: #494646;
}

.close:focus,
.close:hover {

  background-color: #6e6e6e;
  border-color: #6e6e6e;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.close{
  font-size: 20px;

}

.slideLeft {
  z-index: 49;
  background-color: #343a40;
  height: auto;
  width: 100vw;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  margin: 0 0 0 100vh;
  position: fixed;
  top: 15%;
  bottom: -1px;
  left: 0;
  right: 0;
  padding: 0em 1.5em 1.5em 1.5em;
  border: solid #8d8d8d74;
  border-width: 0.1em 0 0 0;
  border-radius: 1rem 1rem 0rem 0rem;
  overflow: scroll;
}

.slideLeft.is-slideLeft-open {
  margin-left: 0;
}

.slideLeft::-webkit-scrollbar {
  display: none;
}

.sticky_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 49;
}

.view {
  padding: 12px;
  border: 0.5px solid #f1f1f1db;
  border-radius: 10px;
  margin-bottom: 1em;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.view:hover,
.view:active,
.view:focus {
  border: solid #e9e9e9db;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.btn-group{
  display: block;
  width: 100%;
  padding: 15px 0px 0px 0px ;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0px 0px 0px 0px;
}